<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="javascript file" href="~/Scripts/script.js" />

    <title>Add Depository</title>
</head>
<body>
    <div class="container">
        <header>Depository</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">

                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter DP Name" required />
                        </div>

                        <div class="input-field">
                            <label>Address1</label>
                            <input type="text" placeholder="Enter Address 1" required />
                        </div>

                        <div class="input-field">
                            <label>Address2</label>
                            <input type="text" placeholder="Enter Address 2" required />
                        </div>

                        <div class="input-field">
                            <label>Address3</label>
                            <input type="text" placeholder="Enter Address 3" />
                        </div>

                        <div class="input-field">
                            <label>Address4</label>
                            <input type="text" placeholder="Enter Address 4" />
                        </div>

                        <div class="input-field">
                            <label>City</label>
                            <input type="text" placeholder="Enter City" />
                        </div>

                        <div class="input-field">
                            <label>State</label>
                            <input type="text" placeholder="Enter State" />
                        </div>

                        <div class="input-field">
                            <label>Pin</label>
                            <input type="text" placeholder="Enter Pin Code" />
                        </div>

                        <div class="input-field">
                            <label>Telephone</label>
                            <input type="text" placeholder="Enter telephone no." />
                        </div>

                        <div class="input-field">
                            <label>Fax</label>
                            <input type="text" placeholder="Enter fax no." required />
                        </div>

                        <div class="input-field">

                            <label>Active Status</label>
                            <select required>
                                <option disabled selected>Active Satus</option>
                                <option>Active</option>
                                <option>Inactive</option>
                            </select>
                        </div>

                        <div class="input-field">
                        </div>
                    </div>
                </div>

                <button class="nextBtn">
                    <span class="btnText">Save</span>
                </button>
            </div>
    </div>
    </form>
    </div>

    <script src="script.js"></script>
</body>
</html>
